/* Fuente a toda la pagina*/
body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

/*tamano de imagen de navbar*/
nav img {
    height: 2em;
    width: auto;
}

/*Transparencia y preponderancia de navbar*/
.navbar {
    z-index: 999;
    background-color: transparent !important;
    position: absolute;
}

footer {
    height: auto;
}

.descDiv {
    position: relative; 

}

/*Borde de cards*/

.card {
    height: 25em;
    border: lightblue solid;
    border-width: 1px;
}

/*Colores y fuentes*/

.card img {
    height: 10em;
}

.navbar a {
    color: white;
} 

h2, h3, h4, h5, p {
    color: white;
}

.socialmedDiv i {
    color: white;
}

h5 {
    font-size: 25px;
    font-weight: 400;
}


