body {
    background-color: black;
}

nav img {
    height: 2em;
    width: auto;
}

.navbar {
    z-index: 999;
    background-color: transparent !important;
    position: absolute;
}

footer {
    height: 3em;
}

.descDiv {
    position: relative; 

}

.card {
    height: 25em;
}

.card img {
    height: 10em;
}



